*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingBg{
    background-color: rgb(114, 251, 218);
    width: 100vw;
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 1.8rem;
}
.btnBg{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn{
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    background-color: rgb(0, 90, 118);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.colors{
    width: 97vw;
    height: 18vh;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
}
.colorCode{
    background-color: #fff;
    width: 5.3rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.colors:hover .colorCode{
    opacity: 1;
}
